@tailwind base;
@tailwind components;
@tailwind utilities;

.container-box {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem /* 32px */;
  padding-left: 2rem /* 32px */;
}
@media (min-width: 1400px) {
  .container-box {
    max-width: 1400px;
  }
}

.hover-nav-item:hover {
  background-color: #a8b3cf33;
}

.ql-editor img {
  max-height: 300px !important;
  width: auto;
  display: block;
  margin: 0 auto;
}
.post-card img {
  max-height: 300px !important;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: 1px solid gray !important;
  border-radius: 4px;
}

.ql-container.ql-snow {
  min-height: 200px;
}
.ql-editor p {
  min-height: 70px !important;
}
